<div class="page-container">
  <div class="mobile-container">
    <h1 class="mb-4">Alle Rezepte</h1>

    <%= render "search_and_filters" %>
  </div>

  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card" id="<%= recipe.id %>">
        <% if recipe.photo.attached? %>
          <%= cl_image_tag recipe.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        
        <div class="recipe-infos">
          <div class="flex flex-jc-sb mb-2">
            <h2 style="max-width: 82%;"><%= link_to recipe.name, recipe_path(recipe) %></h2>

            <%= render partial: "favorite_recipe_form_index", locals: {recipe: recipe} %>
          </div>
          <%= link_to "Löschen", recipe, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'delete' if @admin %>
        </div>
      </div>
    <% end %>
  </div>
</div>
