<div class="page-container">
  <div class="desktop-button-flex">
    <h1>Alle Rezepte</h1>
    <%= link_to 'Rezept hinzufügen', new_recipe_path, class: "btn-petrol my-3" %>
  </div>

  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :search, params[:search], class: "form-control my-3", placeholder: "Finde ein Rezept" %>
    <%= label_tag :recent, 'Neue zuerst' %>
    <%= check_box_tag :recent, params[:recent] %>
    <%= label_tag :alphabetical, 'A-Z' %>
    <%= check_box_tag :alphabetical, params[:alphabetical] %>
    <%= submit_tag "Suchen", class: "btn-text mt-1 mb-5" %>
  <% end %>

  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
      <% if recipe.photo.attached? %>
        <%= cl_image_tag recipe.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
        
        <div class="recipe-infos">
          <h2 class="mb-2"><%= link_to recipe.name, recipe_path(recipe) %></h2>
          <ul class="mb-2">
            <% recipe.categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %> 
          </ul>
          <%= link_to "Delete", recipe, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'delete' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
