<div class="page-container">
  <div class="mobile-container">
    <div class="desktop-button-flex">
      <div class="flex">
        <h1><%= @recipe.name %></h1>
        <%= render "favorite_recipe_form_show" %>
      </div>
      <%= link_to 'Rezept bearbeiten', edit_recipe_path(@recipe), class: 'btn-text my-3' if @admin %>
    </div>

    <ul class="mb-4">
    <% @recipe.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %> 
    </ul>

    <div class="desktop-flex my-3">
      <div class="main-image">
        <% if @recipe.photo.attached? %>
          <%= cl_image_tag @recipe.photo.key, height: 300, width: 300, crop: :fill %>
        <% end %>
      </div>

      <div class="ingredients">
        <h4>Zutaten</h4>
        <ul>
          <% @recipe.doses.each do |dose| %>
            <li><%= dose.amount %> <%= dose.unit %>
            <%= dose.ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="steps mt-4">
      <h4>Zubereitung</h4>
      <div class="cooking-steps mx-2">
        <%= @recipe.description %>
      </div>
    </div>

    <%= link_to 'Alle Rezepte', recipes_path, class: 'btn-petrol my-5' %>
  </div>
</div>
