<div class="page-container">
  <div class="desktop-button-flex">
  <h1><%= @recipe.name %></h1>
  <%= link_to 'Rezept bearbeiten', edit_recipe_path(@recipe), class: 'btn-petrol my-3' %>
  </div>

  <%= form_with model: @favorite_recipe, url: recipe_favorite_recipes_url(@recipe), remote: true do |form| %>
    <%= form.submit class: 'btn-text' %>
  <% end %>

  <div class="desktop-flex my-5">
    <div class="main-image">
      <% if @recipe.photo.attached? %>
        <%= cl_image_tag @recipe.photo.key, height: 300, width: 270, crop: :fill %>
      <% end %>
    </div>

    <div class="ingredients">
      <h4>Zutaten</h4>
      <ul>
        <% @recipe.doses.each do |dose| %>
          <li><%= dose.amount %> <%= dose.unit %>
          <%= dose.ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="steps">
    <% @recipe.categories.each do |category| %>
      <%= category.name %>
    <% end %> 
    <h4>Zubereitung</h4>
    <div class="cooking-steps">
      <%= @recipe.description %>
    </div>
  </div>

  <%= link_to 'Alle Rezepte', recipes_path, class: 'btn-text my-5' %>
</div>