<header>
  <nav class="flex flex-jc-sb flex-ai-c px-4">
    <%= link_to root_path, class: "header_logo" do %>
      <%= image_tag('yum.jpg', alt: 'Yum logo')%>
    <% end %>

    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu header_links flex flex-jc-sa flex-ai-c">
      <li><%= link_to "Alle Rezepte", recipes_path %></li>
      <li><%= link_to "Rezept hinzufügen", new_recipe_path if !current_user.nil? && current_user.admin == true %></li>
      <li><%= link_to "Meine Favoriten", favorite_recipes_path %></li>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "my-3" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "my-3" %>
      <% end %>

      <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
  </nav>
</header>