<div class="page-container">
  <div class="desktop-button-flex">
    <h3>Zutaten hinzufügen</h3>
    <% if @recipe.doses.count > 0 %>
      <%= link_to 'Fertig', recipe_path(@recipe), class: 'btn btn-petrol my-3' %>
    <% end %>
  </div>

  <div class="ingredients mb-5">
    <% unless @recipe.ingredients.blank? %>
      <h5>Bereits hinzugefügt</h5>
      <ul><% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.dose.amount %> <%= ingredient.dose.unit %>
        <%= ingredient.name %></li>  
      <% end %></ul>
    <% end %>
    <%#= link_to 'Löschen', recipe_dose_path(@recipe), method: :delete %>
  </div>

  <%= form_with model: @dose, url: recipe_doses_url do |form| %>
    <div class="form-group">
      <%= form.text_field :amount, placeholder: 'Menge' , class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.text_field :unit, placeholder: 'Einheit' , class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.fields_for :ingredient do |cat_form| %>
        <%= cat_form.text_field :name, placeholder: 'Name der Zutat', class: "form-control mb-1", required: true  %>
      <% end %>
    </div>

    <%= form.submit 'Zutat hinzufügen', class: "btn-red mt-3 mb-5" %>
  <% end %>
</div>
